<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SystemOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%level [%d{HH:mm:ss}] [%c/%t]: %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SystemOut"/>
        </Root>
    </Loggers>
</Configuration>